html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #chat-box {
  border: 3px solid #b3abf9;
  border-radius: 6px;
  font-family: inherit;
  font-size: 12px;
}

#game-canvas {
  position:relative;
  width: 80
}

#game-canvas > div {
  position:absolute;
} */

/* * {
  box-sizing:border-box;
} */

/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .game-container { 
  position: relative;
} */

/* label {
  display: block;
  font-weight: bold;
} */

/* input {
  position: absolute,
  width: 50%
} */

/* input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
}

input[type="text"]:focus {
  border-color: #f000ff;
} */

/* button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
} */